*{
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}
#choise{
    padding: 0;
}
h3{
    width: fit-content;
    margin: 0 auto;
    color: white;
}
label{
    color: white;
}
.box{
    display: flex;
    flex-direction: column;
    background: linear-gradient(red, blue);
    margin: 20px auto;
    border: 2px solid red;
    box-shadow: 2px 2px 2px black;
    border-radius: 15px;
    width: 60vw;
    max-width: 380px;
    min-width: 300px;
    min-height: 200px;
}
#info{
    display: flex;
    flex-direction: column;
}
#info button{
    margin: 1vh 0; 
}
#play{
    width: 100%;
}
#choise{
    display: flex;
    justify-content: center;
    max-width: 364px;
    padding: 0 auto;
}
img{
    display: none;
    cursor: pointer;
    height: auto;
    min-width: 5vw;
    border-radius: 50%;
    border: 3px dashed white;
    margin: 5px;
}   
img:hover{
    box-shadow: 2px 2px 5px red;
    border: 2px solid black;
    transition: all 2000ms;
}
#pantalla{
    display: flex;
    background-color: #b29dff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px blue;
    border: 1px solid green;
    height: 20vh;
    margin: 0 5px;
}
#reset{
    display: none;
    width: 100%;
}
.active{
    background-color: rgb(250, 246, 36);
    border: 2px solid black;
}
#resultado{
    margin: auto auto;
    font-size: x-large;
    text-align: center;
}
button{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(56, 175, 255);
}
button:hover{
    border: 2px solid black;
    transition: all 4000ms;
}